<p>
  CloudReminderをご利用いただきありがとうございます。<br>
  通知先のメールアドレスの追加の仮登録を受付いたしました。<br>
  下記URLより認証を完了してください。<br>
</p>

<p>
  =================================================<br>
  ■ 認証用URL<br>
  =================================================
</p>

<p>
  <%= link_to @url_token, @url_token %>
</p>

<p>
  =================================================
</p>

<p>
  ※このメールは送信専用メールアドレスから配信されています。ご返信いただいてもお答えできませんので、ご了承ください。<br>
  ※このメールにお心当たりのない方は、 本メールを破棄してください。<br>
</p>

<p>
  ------------------------------<br>
  CloudReminder<br>
  <%= ENV['APP_PROTOCOL']%>://<%= ENV['APP_HOST']%><%= ENV['APP_PORT'] ? ":#{ENV['APP_PORT']}" : '' %>/<br>
  ------------------------------
</p>
