<% if errors&.dig('full_messages')&.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: errors&.dig('full_messages')&.count,
                 resource: errors&.dig('model_name'))
       %>
    </h2>
    <ul>
      <% errors&.dig('full_messages')&.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
