MAIL_FROM="<%= ENV['MAIL_FROM'] %>"

<div>
  <a href="https://lin.ee/GXGfBlX">
    <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
  </a>
</div>

<div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="1656245685" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
