<p>
  CloudReminderをご利用いただきありがとうございます。<br>
  仮登録を受付いたしました。<br>
  下記URLより本登録を完了してください。<br>
</p>

<p>
  =================================================<br>
  ■ 認証用URL<br>
  =================================================
</p>

<%- confirm_url = confirmation_url(@resource, confirmation_token: @token) %>
<p>
  <%= link_to confirm_url, confirm_url %>
</p>

<p>
  =================================================
</p>

<p>
  ※このメールは送信専用メールアドレスから配信されています。ご返信いただいてもお答えできませんので、ご了承ください。<br>
  ※このメールにお心当たりのない方は、 本メールを破棄してください。<br>
</p>

<p>
  ------------------------------<br>
  CloudReminder<br>
  <%= ENV['APP_PROTOCOL']%>://<%= ENV['APP_HOST']%><%= ENV['APP_PORT'] ? ":#{ENV['APP_PORT']}" : '' %>/<br>
  ------------------------------
</p>
