<p>
  CloudReminderをご利用いただきありがとうございます。<br>
  下記URLよりパスワード再設定を完了してください。<br>
</p>

<p>
  =================================================<br>
  ■ パスワード再設定用URL<br>
  =================================================
</p>

<%- reset_url = edit_user_auth_mail_password_url(reset_password_token: @token) %>
<p>
  <%= link_to reset_url, reset_url %>
</p>

<p>
  =================================================
</p>

<p>
  ※このメールは送信専用メールアドレスから配信されています。ご返信いただいてもお答えできませんので、ご了承ください。<br>
  ※このメールにお心当たりのない方は、 本メールを破棄してください。<br>
</p>

<p>
  ------------------------------<br>
  CloudReminder<br>
  <%= ENV['APP_PROTOCOL']%>://<%= ENV['APP_HOST']%><%= ENV['APP_PORT'] ? ":#{ENV['APP_PORT']}" : '' %>/<br>
  ------------------------------
</p>
